body{
    display: flex;
    background: radial-gradient(circle, rgba(219,169,255,1) 0%, rgba(74,44,255,1) 100%);
}

.userContainer{
    background-color: white;
    opacity: 0.80;
    width: 700px;
    height: 250px;
    padding: 35px;
}


input{
    appearance: none;
    background-color: none;
    border: 2px solid rgb(255, 230, 104);
    line-height: 0;
    font-size: 17px;
    width: 150px;
    display: block;
    padding: 10px 15px;
    border-radius: 60px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
}

.dropdown{
    background-color: rgb(255, 230, 104);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 10px;
}

#output{
    color: black;
}

.btn{
    margin: 10px;
}